{% extends 'base.html' %}
{% load static %}

{% block title %} About Us - Abroad Voyager {% endblock %}

{% block content %}

    <header>
        <h1>About Us - Abroad Voyager</h1>
    </header>

    <main>
        <h2>Welcome to Abroad Voyager</h2>
        <p>
            At Abroad Voyager, we are passionate about making your travel experience extraordinary. Our mission is to provide you with the best possible vacation tailored to your preferences and interests.
        </p>

        <h2>How We Make Your Travel Unforgettable</h2>
        <p>
            Abroad Voyager leverages the power of artificial intelligence to create personalized travel plans. Our advanced algorithms analyze your preferences, budget, and travel history to generate a unique itinerary that ensures you have an amazing and enjoyable vacation.
        </p>

        <h2>Key Features:</h2>
        <ul>
            <li>Personalized Itineraries: Tailored to your interests and preferences.</li>
            <li>AI-Powered Recommendations: Get the best suggestions for activities, dining, and more.</li>
            <li>Seamless Planning: Effortlessly plan your entire trip with our user-friendly platform.</li>
            <li>Expert Insights: Benefit from travel insights and recommendations from our experienced team.</li>
        </ul>

        <h2>Your Journey Starts Here</h2>
        <p>
            Join Abroad Voyager today and embark on a journey where your travel dreams become reality. Let AI guide you to the most exciting destinations, hidden gems, and unforgettable experiences. Your next adventure awaits!
        </p>
    </main>

    <footer>
        &copy; 2023 Abroad Voyager. All rights reserved.
    </footer>



{% endblock %}
