{% extends 'base.html' %}

{% block title %} Sign Up {% endblock %}

{% block content %}

<div class="container-fluid">
    <div class="row">
        <div class="col-md-4 offset-md-4">
            <br><br>
            <div class="card" style="background-color: #f8f9fa; border: 2px solid #6c757d; border-radius: 15px; overflow: hidden;">
                <div class="card-header" style="background-color: #007bff; color: #fff; border-bottom: 2px solid #0056b3; border-radius: 12px 12px 0 0;">
                    <h3 class="text-center">Create a new account</h3>
                </div>
                <form method="post" enctype="multipart/form-data">
                    {% csrf_token %}

                    <div class="card-body">
                        {{ form.as_p }}
                    </div>
                    <div class="card-footer text-center" style="background-color: #e9ecef; border-radius: 0 0 12px 12px;">
                        <button class="btn btn-success" type="submit">Save</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>

{% endblock %}
